<footer>
  <div class="container">
    <div class="foot-links">
      <a href="https://rcanand.gumroad.com">Gumroad</a>
      <a href="https://www.amazon.com/stores/R.-C.-Anand/author/B0DNY6PYPW">Kindle</a>
      <a href="https://rcanand.hashnode.dev/">Blog</a>
      <a href="https://github.com/mlaillc">GitHub</a>
      <a href="https://x.com/rcanand">X</a>
      <a href="https://rcanand.github.io">Founder</a>
    </div>
    <p>MLAI LLC - Bellevue, WA - rcanand@mlaillc.com</p>
  </div>
</footer>
